{{!-- use required to validate input --}}
<form action="/shortenUrl" method="post">
  <div class="container text-center">
    <div class="mt-5 mx-3">
      <input type="text" class="form-control form-control-lg mx-auto border border-success" name="inputUrl" aria-describedby="shortenUrl" placeholder="Input URL here" style="max-width: 900px" required>
    </div>
    <button type="submit" class="btn btn-outline-primary fw-bold mt-3">Shorten</button>
  </div>
</form>