<div class="container text-center">
  <div class="mt-5 mx-3 text-start">
    <h2 style="margin-left: 25%">Success! Please use this link:</h2>
    <a href="{{oldUrl}}" class="text-decoration-none" target="_blank"><h3 style="margin-left: 27%" class=" lh-base fst-italic" >http://shorten_url/{{short}}</h3></a>
  </div>
  <button type="submit" class="btn btn-primary fw-bold mt-3">Copy</button>
  <a href="/" class="btn btn-outline-success fw-bold mt-3">Back</a>
</div>




{{!-- <form>
  <div class="container text-center">
    <div class="mt-5 mx-3">
      <input type="text" class="form-control form-control-lg mx-auto border border-success" name="inputUrl"
        aria-describedby="shortenUrl" placeholder="Input URL here" style="max-width: 900px">
    </div>
    <button type="submit" class="btn btn-primary fw-bold mt-3">Copy</button>
    <a href="/" class="btn btn-outline-success fw-bold mt-3">Back</a>
  </div>
</form> --}}